<h1>Edit your dive to <%= @dive.location.name %> on <%= @dive.datetime %> </h1>

<form action="/dives/<%="#{@dive.id}"%>" method="post" >
  <p>
    <label for='name'>Date*</label>
    <input type='text' id='name' name=[dive[datetime]] value=<%= @dive.datetime %>>
  </p>
  <p>
    <label for='location'>Location*</label>
    <select name=dive[location_id]>
      <% Location.all.each do |location| %>
        <option value='<%= location.id%>' <%= 'selected' if location.id==@dive.location.id %>><%= location.name%></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for='duration'>Duration* (minutes)</label>
    <input type='text' id='duration' name=[dive[duration]] value=<%= @dive.duration %>>
  </p>
  <p>
    <label for='max_depth'>Maximum depth* (feet)</label>
    <input type='text' id='max_depth' name=[dive[max_depth]] value=<%= @dive.max_depth %>>
  </p>
  <p>
    <label for='starting_pressure'>Starting pressure* (psi)</label>
    <input type='text' id='starting_pressure' name=[dive[starting_pressure]] value=<%= @dive.starting_pressure %> >
  </p>
  <p>
    <label for='final_pressure'>Final pressure* (psi)</label>
    <input type='text' id='final_pressure' name=[dive[final_pressure]] value=<%= @dive.final_pressure %>>
  </p>
  <p>
    <label for='ballast'>Ballast (lbs)</label>
    <input type='text' id='ballast' name=[dive[ballast]] value=<%= @dive.ballast %>>
  </p>
  <p>
    <br><label for='comments'>How was it? </label><br>
	  <textarea type="text" name="dive[comments]" id="comments" rows="20" 
              cols="100"><%= @dive.comments %></textarea>
  </p>

  <input id="hidden" type="hidden" name="_method" value="patch"/>
	<input type='submit' name='submit' value='Update Dive' id='submit'/>
</form>	