<h1>Your dive to <%= @dive.location.name %> on <%= @dive.datetime %> </h1>

<p>Date: <%= @dive.datetime %></p>

<p>Location: <%= @dive.location.name %></p>

<p>Duration: <%= @dive.duration %> minutes</p>

<p>Maximum depth: <%= @dive.max_depth %> feet</p>

<p>Starting pressure: <%= @dive.starting_pressure %> psi</p>

<p>Final pressure: <%= @dive.final_pressure %> psi</p>

<p>Ballast: <%= @dive.ballast%> lbs</p>

<% if !@dive.comments.nil? %>
  <div>
    <h2>Comments:</h2>
    <p><%= @dive.comments %></p>
  </div>
  <br>
<% end %>


<form action="/dives/<%= @dive.id %>/edit" method=get>
  <input type="submit" value="Edit Dive"/>
</form>
<br>
<form action="/dives/<%= @dive.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete Dive" />
</form>	