<h1><%= @location.name %> </h1>
<p><%= @location.city %>, <%= @location.country %> </p>

<% if !(@location.category.nil? || @location.category.empty?) %>
  <p>Category: <%= @location.category %></p>
<% end %>

<% if !(@location.description.nil? || @location.description.empty?) %>
  <div>
    <h2>Description:</h2>
    <p><%= @location.description %></p>
  </div>

  <br>
<% end %>

<% if !Dive.all.exists?(location_id: @location.id) %>

  <form action="/locations/<%= @location.slug %>/edit" method=get>
    <button>Edit Location</button>
  </form>

  <br>

  <form action="/locations/<%= @location.slug %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <button>Delete Location</button>
  </form>

<% else %>
  <!-- 
    IDEA:  List the current_user.dives that reference this location so that the user can edit them first.
    However, keep in mind that other users may also reference this location and we aren't sharing those.

    Another idea would be to allow certain things to be changed (Name, description) without fundamentally
    changing the location.

    IDEA: How about show a list of other dives that have been there?
    IDEA: Maybe add diver comments?
  -->
  <p>This location cannot be modified because it is referenced by an existing dive.</p>
<% end %>
