<h1><%= @location.name %> </h1>

<p>City: <%= @location.city %> </p>
<p>Country: <%= @location.country %> </p>
<p>Category: <%= @location.category %></p>

<div>
	<h2>Description:</h2>
	<p><%= @location.description %></p>
</div>
<br>

<% if !Dive.all.exists?(location_id: @location.id) %>
  <form action="/locations/<%= @location.slug %>/edit" method=get>
    <input type="submit" value="Edit Location"/>
  </form>
  <br>
  <form action="/locations/<%= @location.slug %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Location" />
  </form>
<% else %>
  <p>This location cannot be modified because it is referenced by an existing dive.</p>
<% end %>
